@font-face {
    font-family: Pixelar; /* Гарнитура шрифта */
    src: url(minecraft.ttf); /* Путь к файлу со шрифтом */
   }

.text {
    font-family: Pixelar;
    text-align: center;
    text-shadow: 2px -2px 0 aqua, -2px 2px 0 red;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 90px;
    margin: 20px auto 50px auto;
}

h2 {
    font-weight: 400;
    font-size: 30px;
}

body {
    background: rgb(0, 19, 66);
    overflow: hidden;
}

.main {
    height: 585px;
    width: 20%;
    margin: 0 auto 0 auto;
}

canvas {
    margin:auto;
    outline: 5px solid white;
    background-image: url(images/galaxy\ background\ R2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.difficulty {
    outline: 5px solid white;
    background-image: url(images/difficult\ background\ R.png);
    background-size: cover;
}

.Hof {
    outline: 5px solid white;
    background-image: url(images/hall\ of\ fame\ R3\ sprite.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.difficulty li {
    border: 5px solid white;
    margin: 15px 10px 15px 10px;
}

a {
    text-decoration: none;
}

.img {
    border: 5px white;
    margin: 10px;
    height: 100px;
    width: 100px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

}

.casual {
    color: white;
    font-weight: 400;
    font-size: 40px;
    margin: 5px;
}

.status ul {
    margin: 0;
    padding: 4px; 
    font-size: 30px;
}

#timer, #shoots, #killed {
    margin-right: 20px;
}

.status ul li {
    display: inline; /* Отображать как строчный элемент */
    border: 0;
    margin: 0;
   }

 footer {
    height: 50px;
    position: fixed;
    left: 5px;
    bottom: 5px;
    right: 5px;
 }

 .blin {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
 }